<p>promiseobservable works!</p>

<!--<div>-->
<!--  <h2>Search for country names</h2>-->
<!--  <input type="text" class="form-control" #country (keyup)="search(country.value)" >-->
<!--</div>-->
<!--<hr>-->
<!--<div>-->
<!--  <li *ngFor="let x of countryData">{{x.name}}</li>-->
<!--</div>-->
<h2>{{errorMsg}}</h2>
<div>
  <table border="2">
    <thead>
    <tr>
      <th>USER ID</th>
      <th>ID</th>
      <th>TITLE</th>
      <th>BODY</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of result">
      <td>{{data.userId}}</td>
      <td>{{data.id}}</td>
      <td>{{data.title}}</td>
      <td>{{data.body}}</td>
    </tr>
    </tbody>
  </table>
</div>
