<div class="backgroundImg"><h2 appChangeColor>REACTIVE FORMS (or) Model Driven</h2></div>
<!--<div style="color: red"><h2 >angular life cycle hook</h2></div>-->
<!--<app-prom-obs-country-data></app-prom-obs-country-data>-->
<!--<app-observable></app-observable>-->
<!--<app-promiseobservable></app-promiseobservable>-->

<div>
<app-reactive-form></app-reactive-form>
<!--<app-reactive-form2></app-reactive-form2>-->
</div>



<!--  <app-children *ngIf="isvisable" [myNumber]="counter"></app-children>-->
<!--  <button type="button" class="btn btn-primary" (click)="increment()">inc +1</button>-->
<!--  <button type="button" class="btn btn-danger" (click)="decrement()">dec -1</button>-->
<!--  <button type="button" class="btn btn-warning" (click)="switchVisability()">destroy</button>-->
<!--</div>-->
